<div class="image-container">
    <div class="landing-image">
    </div>    
</div>
<div class="container-fluid custom-height">
    <div class="row align-items-center lower-container">
        <div class="p-5 col-12 col-md-6 text-center">
            <h1>Welcome to your users management app.
                <br>Click on the button to start managing your users</h1>
            </div>
        <div class="col-12 col-md-6 text-center">
            <button routerLink="/users" class="button">Go to users list</button>
        </div>
    </div>
</div>
