table {
    width: 100%;
}

button {
    width: 100px;
}

.mat-column-id {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
}

.mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
}

.mat-column-email {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
}

.mat-column-edit-button {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
}

.mat-column-delete-button {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
}

.link {
    color: #673ab7;
    cursor: pointer;
}